.logo {
    filter: brightness(0) saturate(100%) invert(13%) sepia(99%) saturate(4443%) hue-rotate(270deg) brightness(99%) contrast(130%);
  }
 /* Estilo adicional para que el contenedor del carrusel tenga una posición relativa */
 .carousel-container {
    position: relative;
  }

  /* Estilo para uniformar las imágenes del carrusel */
  .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .carousel-container {
    margin-bottom: 2rem; /* Espaciado entre el carrusel y los divs */
  }


  /* Estilo para las imágenes del carrusel */
  .carousel-item img {
    width: 100%;
    height: 400px; /* Ajusta el alto a la imagen */
    object-fit: cover;
  }

  /* Estilo para el contenedor del texto */
  .carousel-caption {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar completamente */
    text-align: center; /* Centra el texto */
    color: white; /* Color del texto */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para hacerlo más visible */
    padding: 10px; /* Añade un poco de espacio alrededor */
    width: 100%; /* Asegura que el texto ocupe todo el ancho */
    box-sizing: border-box;
  }

  /* Animación para el desplazamiento suave del texto */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(20px); /* Empuja el texto desde abajo */
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(0); /* Deja el texto en su posición final */
    }
  }

  /* Estilos para cada imagen y texto */
  .carousel-item:nth-child(1) .carousel-caption {
    animation-delay: 0s;
  }

  .carousel-item:nth-child(2) .carousel-caption {
    animation-delay: 0.5s;
  }

  .carousel-item:nth-child(3) .carousel-caption {
    animation-delay: 1s;
  }

 