.logo {
    filter: brightness(0) saturate(100%) invert(13%) sepia(99%) saturate(4443%) hue-rotate(270deg) brightness(99%) contrast(130%);
  }
 /* Estilo adicional para que el contenedor del carrusel tenga una posición relativa */
 .carousel-container {
    position: relative;
  }

  /* Estilo para uniformar las imágenes del carrusel */
  .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .carousel-container {
    margin-bottom: 2rem; /* Espaciado entre el carrusel y los divs */
  }


  /* Estilo para las imágenes del carrusel */
  .carousel-item img {
    width: 100%;
    height: 400px; /* Ajusta el alto a la imagen */
    object-fit: cover;
  }
/* Estilos para centrar el texto */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Inicialmente invisible */
  animation: fadeInUp 1s ease forwards; /* Animación por defecto */
}

/* Añadir retrasos específicos para cada slide */
.carousel-item:nth-child(1) .carousel-caption {
  animation-delay: 0s;
}

.carousel-item:nth-child(2) .carousel-caption {
  animation-delay: 0.5s;
}

.carousel-item:nth-child(3) .carousel-caption {
  animation-delay: 1s;
}

/* Animación personalizada */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px)); /* Comienza más abajo */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); /* Posición final */
  }
}


 